---
import { array__allArticleData } from '../../scripts/api/notionBlog.js';
import SwiperArticle from './SwiperArticle.jsx';
import '../../styles/relatedArticle.scss';

const { title,series } = Astro.props;

const relatedArticle = array__allArticleData.filter((value) =>
    value.title !== title && value.seriesSlug === series
).slice(0,6);

const seriesText = array__allArticleData.filter((value) =>
    value.title === title
);
console.log(relatedArticle.length);
---

{relatedArticle.length !== 0 ? 
    <section class="relatedArticle">
        <h2>{seriesText[0].series}シリーズの関連キットはこちら</h2>
        <SwiperArticle articles={relatedArticle} client:load/>
    </section> : <></>
}
