article{
    h1{
        margin: rem(16) 0;
    }

    #mainView{
        width: 100%;
        margin: 0 auto rem(24);
        

        .top {
            .image {
                img{
                    max-width: 790px;
                    max-height: 500px;
                    margin: 0 auto;    
                    border-radius: 0;
                    aspect-ratio: 16/9;
                }        
            }
            .title{
                // width: 90%;
                // margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 rem(4);
                @include responsive(md){
                    margin: 0 auto;
                    max-width: 680px;
                }    
            }    
        }


        .info{
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: rem(16);
            // align-items: center;
            // justify-content: space-between;

            @include responsive(md){
                width: 100%;
                max-width: 680px;
            }

            .category{
                // display: grid;
                // grid-template-columns: repeat(2,1fr);
                display: flex;
                gap: rem(16);
        
                .series{
                    a{
                        min-width: 150px;
                        display: inline-block;
                        width: inherit;
                        font-size: rem(14);
                        cursor: pointer;
                        color: cl(cl-white);
                        background-image: linear-gradient(to right, cl(cl-RH) 12%, cl(cl-MH) 62.666667%);
                        background-size: 150% auto;
                        background-position: 0% 50%;
                        transition: 0.3s 
                        background-position ease-out;            
                        padding: rem(8);
                        border-radius: 50px;
                        display: flex;
                        justify-content: center;
                        @include hover{
                            background-position: 100% 50%;
                            opacity: 1;
                        }            
                    }
                }
    
                .brand{
                    a{
                        min-width: 150px;
                        display: inline-block;
                        width: inherit;
                        font-size: rem(14);
                        cursor: pointer;
                        color: cl(cl-white);
                        background-image: linear-gradient(to right, cl(cl-RC) 12%, cl(cl-KYA) 62.666667%);
                        background-size: 150% auto;
                        background-position: 0% 50%;
                        transition: 0.3s 
                        background-position ease-out;            
                        padding: rem(8);
                        border-radius: 50px;
                        display: flex;
                        justify-content: center;
                        @include hover{
                            background-position: 100% 50%;
                            opacity: 1;
                        }            
                    }
                }    
            }

            .date{
                time{
                    color: cl(cl-black);
                    display: flex;
                    justify-content: flex-end;
                    font-size: rem(14);
                }    
            }
    

        }

    }

    #mainContent{
        width: 90%;
        margin: 0 auto;
        
        @include responsive(md){
            max-width: 680px;
        }

        h3,
        h4{
            margin: rem(32) 0;
        }

        h2{
            position: relative;
            margin: rem(48) 0;
            padding: rem(8) 0;
            color: #333;
            text-align: center;
            font-weight: bold;

            &::before,
            &::after{
                position: absolute;
                content: '';
                height: 0.5rem;
                width: 100%;
                background-repeat: no-repeat;
                background-size: 20% 100%, 80% 100%;    
            }

            &::before{
                background-image: repeating-linear-gradient(48deg, cl(cl-RH) 0px 5px, transparent 5px 10px),
                linear-gradient(90deg, cl(cl-RH) 0 100%);
                top: -0.5rem;
                left: 0;
                background-position: left, right;
            }

            &::after{
                background-image: repeating-linear-gradient(135deg, cl(cl-MH) 0px 5px, transparent 5px 10px),
                linear-gradient(90deg, cl(cl-MH) 0 100%);
                bottom: -0.5rem;
                right: 0;
                background-position: right, left;
            }
        }

        
        h3{
            padding: 0.5rem 1rem 0.5rem 1.5rem;
            margin-bottom: 0.2rem;
            background-image:
                linear-gradient(cl(cl-KYA) 50%, cl(cl-RC) 50%);
            background-repeat: no-repeat;
            background-size: 0.5rem 100%;
            font-weight: bold;
        }


        p{
            font-size: rem(14);
            margin: rem(16) 0;
        }

        dl{
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;	
            width: 100%;
            border-left: 1px solid cl(cl-gray2);
            border-right: 1px solid cl(cl-gray2);

            &:first-of-type{
                border-top: 1px solid cl(cl-gray2);
            }

            dt{
                background: cl(cl-gray);
                padding: 5px;
                width: 150px;
                border-right: 1px solid cl(cl-gray2);
                border-bottom: 1px solid cl(cl-gray2);
            }

            dd{
                background: #fff;
                padding: 5px;
                width: calc(100% - 150px);
                border-bottom: 1px solid cl(cl-gray2);

                a{
                    color: cl(cl-RH);
                    text-decoration: underline;
                    display: inline;
                    word-wrap:break-word;
                }
            }
        }

        img{
            aspect-ratio: 16/9;
            border-radius: 5px;
            margin: rem(8) 0;
        }

        ul{
            margin: rem(16) 0;
            display: flex;
            flex-direction: column;
            gap: rem(8);

            li{
                color: #333333;
                display: flex;
                font-size: rem(14);

                &::before{
                    content: '・';
                }
            }
        }

        #gallery{
            .swiper{
                .swiper-slide{
                    img{
                        width: 100%;
                        height: auto;
                        border-radius: 0;    
                        aspect-ratio: 1/1;
                        margin: 0;
                    }
                }
            }
              
            .main-swiper{
                margin-bottom: rem(32);
                .swiper-slide{
                    width: 100% !important;
                    max-height: 600px;
                    height: auto;
                }

            }
      
            .swiper-container{
                position: relative;
                .swiper-button-next,
                .swiper-button-prev{
                    width: 30px;
                    height: 30px;
                    @include responsive(md){
                        width: 50px;
                        height: 50px;
                    }

                    &::after{
                        background-repeat: no-repeat;
                        background-size: contain;
                        content: "";
                        width: 30px;
                        height: 30px;
                        @include responsive(md){
                            width: 50px;
                            height: 50px;
                        }    
                    }
                }
                .swiper-button-next{
                    right: -3%;
                    @include responsive(md){
                        right: 3%;
                    }        

                    &::after{
                        background-image: url("../../public/images/allow-right.svg");
                    }
                }
                .swiper-button-prev{
                    left: -3%;
                    @include responsive(md){
                        left: 3%;
                    }        

                    &::after{
                        background-image: url("../../public/images/allow-left.svg");
                    }
                }

                .swiper-scrollbar {
                    bottom: -10px;
                    width: 100%;
                    height: 4px;
                }
                .swiper-scrollbar-drag {
                    background-color: cl(cl-MH);
                }
            }
            .thumbnail-swiper{
                .swiper-wrapper{
                    display: flex;
                    @include responsive(md){
                        display: grid;
                        gap: rem(8);
                        grid-template-columns: repeat(5,1fr);
                    }        
                }
                .swiper-slide {
                    // width: calc(100% / 5) !important;
                    // height: auto;
                    // // max-width: 70px;
                    // // max-height: 70px;
                    @include responsive(md){
                        width: 100% !important;
                        max-width: 136px;
                        max-height: 136px;    
                    }
                    img{
                        border: 2px solid #33333300;
                    }       
                }
                .swiper-slide-thumb-active {
                    img{
                        border: 2px solid cl(cl-MH);
                    }
                }
            }
              
        }
    }
}