.newArticle{
    padding: rem(32) 0;
    background: linear-gradient(135deg, cl(cl-RC) 50%, cl(cl-KYA) 50%);
    // background-color: cl(cl-RC);
    // background-color: cl(cl-KYA);

    h2{
        margin-bottom: rem(16);
        font-weight: 700;
    }

    .link{
        margin-top: rem(32);
        display: flex;
        justify-content: center;

        a{
            border-radius: 50px;
            padding: rem(8);
            color: cl(cl-white);
            max-width: 150px;
            text-align: center;
            font-size: rem(14);
            background-image: linear-gradient(to right, cl(cl-RH) 12%, cl(cl-MH) 62.666667%);
            background-size: 150% auto;
            background-position: 0% 50%;
            transition: 0.3s 
            background-position ease-out;
            box-shadow: 0 2px 6px #0000001a;

            @include hover{
                background-position: 100% 50%;
                opacity: 1;
            }
        }
    }
}

.brandList{
    padding: rem(32) 0;

    h2{
        margin-bottom: rem(16);
    }

    ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: rem(16);

        @include responsive(md){
            grid-template-columns: repeat(3,1fr);
        }


        @include responsive(lg){
            grid-template-columns: repeat(5,1fr);
        }

        li{
            a{
                color: cl(cl-black);
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: 0 3px 10px rgba(0,0,0,.2);
                border-radius: 10px;
                padding: rem(4);
                
                .image{
                    img{
                        aspect-ratio: 16/9;
                        border-radius: 10px 10px 0 0;
                    }
                }    
            }
        }
    }
}

.seriesList{
    padding: rem(32) 0;
    // background-color: cl(cl-RC);
    background: linear-gradient(45deg, cl(cl-RH) 50%, cl(cl-MH) 50%);


    h2{
        margin-bottom: rem(16);
        color: cl(cl-white);
    }

    h3{
        margin-bottom: rem(8);
        color: cl(cl-white);
    }

    .list{
        margin-bottom: rem(32);

        &:last-child{
            margin-bottom: 0;
        }
    }

    ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: rem(16);

        @include responsive(md){
            grid-template-columns: repeat(3,1fr);
        }

        @include responsive(lg){
            grid-template-columns: repeat(4,1fr);
        }

        li{
            a{
                display: flex;
                flex-direction: column;
                box-shadow: 0 3px 10px rgba(0,0,0,.2);
                border-radius: 10px;
                padding: rem(8);
                background-color: cl(cl-white);
            }

            .image{
                img{
                    aspect-ratio: 16/9;
                }
            }
            
            .title{
                min-height: 40px;
                p{
                    font-size: rem(14);
                }
            }
        }

    }

}