/* ------------ ▼ px→rem 変換関数 rem(1) = 1px ▼ ------------ */
@use 'sass:math';
$baseFontsize: 16;
@function rem($pixel) {
	@return math.div($pixel, $baseFontsize) * 1rem;
}
/* ------------ ▲ px→rem 変換関数 rem(1) = 1px ▲ ------------ */

$colors: (
  cl-black: #333333,
  cl-white: #ffffff,
  cl-gray: #f2f2f2,
  cl-gray2: #ccc, 
  cl-RH: #9B265F,
  cl-MH: #CC3C56,
  cl-RC: #FE9B96,
  cl-KYA: #F9DEB3,
  cl-amazon: #ff9900,
  cl-rakuten: #BF0000,
  cl-yahoo: #FF0133
);

@function cl($key) {
  @return map-get($colors, $key);
}

$breakpoints: (
  'xs': (
    min-width: 0,
  ),
  'sm': (
    min-width: 576px,
  ),
  'md': (
    min-width: 768px,
  ),
  'lg': (
    min-width: 992px,
  ),
  'xl': (
    min-width: 1200px,
  ),
  'xxl': (
    min-width: 1400px,
  ),
) !default; //　~~pxから適用

@mixin responsive($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and #{inspect(map-get($breakpoints,$breakpoint))} {
      @content;
    }
  } @else {
    @error "指定のbreakpointは元々設定されていません。";
  }
}

@mixin inner {
  margin: 0 auto;
  max-width: 430px;
  width: 90%;

  @include responsive(md) {
    max-width: 652.8px;
    width: 100%;    
  }

  @include responsive(lg) {
    max-width: 843.2px;
  }

  @include responsive(xl) {
    max-width: 1020px;
  }

  @include responsive(xxl) {
    max-width: 1190px;
  }

}

// @mixin hover {
//   @media (hover: hover) {
//     &:hover{
//       @content;
//       transition: 0.3s;
//     }
//   }
// }
@mixin hover {
  @include responsive(md) {
    &:hover {
      @content;
      transition: 0.3s all;
    }
  }
}