---
import '../../styles/global/footer.scss';
---


<footer>
    <p>ガンプラデータベースブログ</p>
    <div class="quotation">
        <p>画像の引用元：</p>
        <a href="https://bandai-hobby.net/" target="_blank">https://bandai-hobby.net/</a>
    </div>
</footer>