---
import { array__allArticleData } from '../../../scripts/api/notionBlog.js';
import SwiperArticle from '../Swiper/SwiperArticle.jsx';
import './RelatedArticle.scss';

const { title,series,brand } = Astro.props;

const sameSeries = array__allArticleData.filter((value) =>
    value.title !== title && value.seriesSlug === series && value.published === true
).slice(0,6);

const sameBrand = array__allArticleData.filter((value) =>
    value.title !== title && value.seriesSlug !== series && value.published === true && value.brand === brand
).slice(0,6);


const titleText = array__allArticleData.filter((value) =>
    value.title === title
);
---

<section class="relatedArticle">
    {sameSeries.length !== 0 ? 
        <section class="sameSeries">
            <h2>{titleText[0].series}の関連キットはこちら</h2>
            <SwiperArticle articles={sameSeries} client:load/>
        </section> : <></>
    }
    {sameBrand.length !== 0 ? 
        <section class="sameBrand">
            <h2>{titleText[0].brand}の関連キットはこちら</h2>
            <SwiperArticle articles={sameBrand} client:load/>
        </section> : <></>
    }      
</section>
